body {

	background-image:url(../images/velvet.png);
	margin:0px;
	padding:50px;

}

h1 {
color: #000;
text-align: center;
font-family: 'Arimo', sans-serif;
padding: 20px;
font-size: 40px;

}

h2 {
color: #0C7F7C;
text-align: center;
font-family: 'Antic Slab', serif;
font-size: 20px;

}

h3 {
color: #000;
text-align: center;
font-family: 'Antic Slab', serif;
font-size: 20px;

}


#wrapper {

	width: 900px;
	margin: 0 auto;
	padding-top: 40px;
	background-color: #fff;
	border-radius: 60px;


}


#header {

	background-color: #fff;

}

#leftcol {

	float:left;
	width: 250px;
	padding: 100px;


}
/*
#centercol {

	float:left;
	width: 275px;
	padding: 20px;
}*/

#rightcol {

	float:left;
	width: 250px;
	padding: 100px;
}

p {

font-family: 'Cutive Mono', sans-serif;
color: #000;
font-size: 14px;
margin-right: 80px;
margin-top: 30px;
margin-left: 80px;
line-height: 18px;
word-spacing: 5px;
display: inline-block;

}

li {

font-family: 'Cutive Mono', sans-serif;
color: #000;
font-size: 14px;
margin-right: 80px;
margin-top: 30px;
margin-left: 80px;
line-height: 25px;
word-spacing: 5px;

}

#captions {
font-family: 'Cutive Mono', sans-serif;
color: #000;
font-size: 22px;

	
}

#footer {

font-family: 'Cutive Mono', sans-serif;
color: #547980;
font-size: 10px;
text-align: center;
padding-top: 100px;
padding-bottom: 10px;

}

#bottomlinks {

font-family: 'Cutive Mono', sans-serif;
color: #547980;
font-size: 10px;
text-align: center;
padding-bottom: 10px;

}
